<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="db.dao.AnalysisDAO">
    <resultMap id="AnalysisResultMap"
               type="Analysis"
               autoMapping="false">
        <id column="id" property="id"/>
        <result column="title" property="name"/>
        <association property="sample"
                     column="sample_id"
                     resultMap="db.dao.ISampleDAO.SampleResultMap"
                     columnPrefix="sample_"/>
    </resultMap>

    <sql id="analysis_columns">
        a.title as analysis_title,
        <include refid="db.dao.ISampleDAO.sample_columns"/>
    </sql>

    <select id="getById" parameterType="int" resultMap="AnalysisResultMap">
        SELECT
        <include refid="analysis_columns"/>
        FROM analyses a
        INNER JOIN samples s ON a.sample_id = s.id
        INNER JOIN tools t ON s.tool_id = t.id
        WHERE ID = #{id}
    </select>

    <select id="getAll" resultMap="AnalysisResultMap">
        SELECT
        <include refid="analysis_columns"/>
        FROM analyses a
        INNER JOIN samples s ON a.sample_id = s.id
        INNER JOIN tools t ON s.tool_id = t.id
    </select>

    <insert id="create" parameterType="Analysis">
        INSERT INTO analyses (title, sample_id)
        VALUES (#{Analysis.title}, #{Analysis.sample.id})
    </insert>

    <update id="update" parameterType="Analysis">
        UPDATE analyses a
        SET a.title     = #{Analysis.title},
            a.sample_id = #{Analysis.sample.id}
        WHERE a.id = #{Analysis.id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE
        FROM analyses
        WHERE id = #{id}
    </delete>
</mapper>