<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Worker">
    <!-- <mapper namespace="namespace de la interfaceDAO con los metodos y parametros">   -->

    <resultMap id="WorkerResultMap"
               type="Worker"
               autoMapping="false">
        <id column="id" property="id"/>
        <result column="worker_role" property="role"/>
        <result column="worker_seniority" property="seniority"/>
        <result column="worker_first_name" property="firstName"/>
        <result column="worker_last_name" property="lastName"/>
        <result column="worker_id_number" property="idNumber"/>
        <result column="worker_birth_date" property="birthDate"/>
        <result column="worker_email" property="email"/>
        <result column="worker_wage" property="wage"/>
        <result column="worker_phd" property="phd"/>
        <collection property="experiments" resultMap="Experiment.ExperimentResultMap"
                    select="Experiment.getByWorkerId"/>
        <collection property="analyses" resultMap="Analyses.AnalysesResultMap"
                    select="Analysis.getByWorkerId"/>
    </resultMap>

    <sql id="worker_columns">
        w.id as worker_id,
        w.role_id as worker_role_id,
        w.seniority_id as worker_seniority_id,
        w.first_name as worker_first_name,
        w.last_name as worker_last_name,
        w.id_number as worker_id_number,
        w.birth_date as worker_birth_date,
        w.email as worker_email,
        w.wage as worker_wage,
        w.phd as worker_phd
    </sql>

    <insert id="create"
            useGeneratedKeys="true"
            keyProperty="id"
            parameterType="int">
        INSERT INTO workers
        (role_id, seniority_id, first_name, last_name, id_number, birth_date, email, wage, phd)
        VALUES (#{role}, #{seniority}, #{firstName}, #{lastName}, #{idNumber}, #{birthDate}, #{email}, #{wage}, #{phd})

    </insert>

    <select id="getById" parameterType="Worker" resultMap="WorkerResultMap">
        SELECT
        <include refid="worker_columns"/>
        <include refid="experiment_columns"/>

        FROM workers w
        WHERE ID = #{id}
        LEFT JOIN roles r ON w.role_id = r.id,
        LEFT JOIN seniorities s ON w.seniority_id = s.id,
        LEFT JOIN workersexperiments we ON w.experiment_id = e.id
    </select>
</mapper>