<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--for remote solvd db:
    <properties resource="remotedb.properties"/> -->
    <properties resource="db.properties"/>
    <typeAliases>
        <typeAlias alias="Analysis" type="db.models.Analysis"/>
        <typeAlias alias="Area" type="db.models.Area"/>
        <typeAlias alias="Class" type="db.models.Class"/>
        <typeAlias alias="Experiment" type="db.models.Experiment"/>
        <typeAlias alias="HealthRisk" type="db.models.HealthRisk"/>
        <typeAlias alias="Kingdom" type="db.models.Kingdom"/>
        <typeAlias alias="LabWing" type="db.models.LabWing"/>
        <typeAlias alias="Role" type="db.models.Role"/>
        <typeAlias alias="Sample" type="db.models.Sample"/>
        <typeAlias alias="Seniority" type="db.models.Seniority"/>
        <typeAlias alias="Substrate" type="db.models.Substrate"/>
        <typeAlias alias="TestSubject" type="db.models.TestSubject"/>
        <typeAlias alias="Tool" type="db.models.Tool"/>
        <typeAlias alias="Worker" type="db.models.Worker"/>

        <typeAlias alias="AreaDAO" type="db.dao.IAreaDAO"/>
        <typeAlias alias="ClassDAO" type="db.dao.IClassDAO"/>
        <typeAlias alias="ExperimentDAO" type="db.dao.IExperimentDAO"/>
        <typeAlias alias="HealthRiskDAO" type="db.dao.IHealthRiskDAO"/>
        <typeAlias alias="KingdomDAO" type="db.dao.IKingdomDAO"/>
        <typeAlias alias="LabWingDAO" type="db.dao.ILabWingDAO"/>
        <typeAlias alias="RoleDAO" type="db.dao.IRoleDAO"/>
        <typeAlias alias="SampleDAO" type="db.dao.ISampleDAO"/>
        <typeAlias alias="SeniorityDAO" type="db.dao.ISeniorityDAO"/>
        <typeAlias alias="SubstrateDAO" type="db.dao.ISubstrateDAO"/>
        <typeAlias alias="TestSubjectDAO" type="db.dao.ITestSubjectDAO"/>
        <typeAlias alias="ToolDAO" type="db.dao.IToolDAO"/>
        <typeAlias alias="WorkerDAO" type="db.dao.IWorkerDAO"/>

    </typeAliases>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC">
                <property name="defaultReadOnly" value="false"/>
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${user}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/AnalysisMapper.xml"/>
        <mapper resource="mappers/AreaMapper.xml"/>
        <mapper resource="mappers/ClassMapper.xml"/>
        <mapper resource="mappers/ExperimentMapper.xml"/>
        <mapper resource="mappers/HealthRiskMapper.xml"/>
        <mapper resource="mappers/KingdomMapper.xml"/>
        <mapper resource="mappers/LabWingMapper.xml"/>
        <mapper resource="mappers/RoleMapper.xml"/>
        <mapper resource="mappers/SampleMapper.xml"/>
        <mapper resource="mappers/SeniorityMapper.xml"/>
        <mapper resource="mappers/SubstrateMapper.xml"/>
        <mapper resource="mappers/TestSubjectMapper.xml"/>
        <mapper resource="mappers/ToolMapper.xml"/>
        <mapper resource="mappers/WorkerMapper.xml"/>
    </mappers>
</configuration>

